/* body{
    background-image: url("background.jpg");
    background-size: cover; /* Ensures the image covers the div */
/* padding: 10px;
    border-radius: 10px;
}  */

.container {
  max-width: 100%;
  margin: 0 auto; /* Centers the container */
  padding: 0px;
  background-color: #ffffff;
  display: flex; /* Add flex display */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align children horizontally */

  justify-content: center; /* Center-align children 
  vertically */
}

.title h1 {
  text-align: center;
  color: #333;
}
.containerG {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #dddddd;
  padding: 50px;
  padding-top: "10%";
  transition: "box-shadow 0.3s ease-in-out";
  box-shadow: "0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);";
  animation: fadeInUp 1s;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%; /* Ensure form takes full width of container */
}

.textarea {
  width: 100%;
  padding: 25px; /* Increase padding for a larger area */
  border-radius: 15px;
  border: none;
  background: #ffffff;
  /* box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff; */
  resize: none;
  font-size: 16px;
  border: 2px solid #ff0000;
  color: #333;
  height: 150px; /* Increase the height of the textarea */
  font-family: "Arial", sans-serif; /* Modern, readable font */
}

.drop-area {
  width: 50%;
  padding: 15px;
  border: dashed 2px #ccc;
  border-radius: 15px;
  text-align: center;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-input {
  display: none;
}

.file-label {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-label:hover {
  background-color: darkred;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: darkred;
}

.file-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.file-name {
  background: #e0e0e3;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
body {
  /* Removed the background image for a cleaner, modern look */
  background-color: #ffffff; /* White background */
  font-family: "Arial", sans-serif; /* Modern, readable font */
}

.form {
  width: 80%;
  margin-top: 20px;
}

.textarea,
.drop-area,
.file-input,
.file-label,
.submit-btn,
.file-name {
  width: 100%;
  border-radius: 5px; /* Modern, subtle border radius */
}

.drop-area {
  padding: 15px;
  border: dashed 2px #ff0000; /* Red dashed border */
  color: #ff0000; /* Red text */
}

.file-label,
.submit-btn {
  background-color: #ff0000; /* Red background */
  color: #ffffff; /* White text */
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Added transform for interaction */
}

.file-label:hover,
.submit-btn:hover {
  background-color: #a80000; /* Darker red on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.file-list .file-name {
  background: #f9f9f9;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
